<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317878982794-89cba15ssna91i2u4pjn9iauu79mhqtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317878982794-89cba15ssna91i2u4pjn9iauu79mhqtr</string>
	<key>API_KEY</key>
	<string>AIzaSyBKntEF97LiqY42vH1EEJbcN9eyJlAQICw</string>
	<key>GCM_SENDER_ID</key>
	<string>317878982794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hourTracker</string>
	<key>PROJECT_ID</key>
	<string>flutter-1abe1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-1abe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317878982794:ios:657ec7591a48cab6b6b573</string>
</dict>
</plist>